<div class="row marketing">

  <h3>Skinwalkers: Character App</h3>

  <p><em>Skinwalkers</em> is the working title of a new boardgame design by Taran Kratz.  The game will include web application integration, the first iteration of which is represented by this mock up. The mock up was designed by Luke Green and built with the technologies listed below.</p>

  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
