<div class="jumbotron" ng-controller="MainCtrl">

    <div>
      <h2 ng-bind="characterName"></h2>
      <h3 ng-bind="characterType"></h3>
        <ul class="list-group">
          <li class="list-group-item" ng-class="{active: activeItem === 'health'}" ng-click="activeItem = 'health' ; setActiveItem($event)">
            <span class="badge" ng-bind="health"></span>
            Health
          </li>
          <li class="list-group-item" ng-class="{active: activeItem === 'attack'}" ng-click="activeItem = 'attack' ; setActiveItem($event)">
            <span class="badge" ng-bind="attack"></span>
            Attack
          </li>
          <li class="list-group-item" ng-class="{active: activeItem === 'defense'}" ng-click="activeItem = 'defense' ; setActiveItem($event)">
            <span class="badge" ng-bind="defense"></span>
            Defense
          </li>
          <li class="list-group-item" ng-class="{active: activeItem === 'agility'}" ng-click="activeItem = 'agility' ; setActiveItem($event)">
            <span class="badge" ng-bind="agility"></span>
            Agility
          </li>
          <li class="list-group-item" ng-class="{active: activeItem === 'craft'}" ng-click="activeItem = 'craft' ; setActiveItem($event)">
            <span class="badge" ng-bind="craft"></span>
            Craft
          </li>
          <li class="list-group-item" ng-class="{active: activeItem === 'morale'}" ng-click="activeItem = 'morale' ; setActiveItem($event)">
            <span class="badge" ng-bind="morale"></span>
            Morale
          </li>
        </ul>
    </div>

    <div id="attributeButton">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="addOne(activeItem)">+</button>
        <button type="button" class="btn btn-default" ng-click="subtractOne(activeItem)">-</button>
    </div>

</div>
