<div class="jumbotron" ng-controller="MainCtrl">

    <div>
      <h2>Character name</h2>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">14</span>
            Strength
          </li>
          <li class="list-group-item">
            <span class="badge">7</span>
            Intelligence
          </li>
          <li class="list-group-item">
            <span class="badge">11</span>
            Speed
          </li>
          <li class="list-group-item">
            <span class="badge">10</span>
            Dexterity
          </li>
          <li class="list-group-item">
            <span class="badge">3</span>
            Magic
          </li>
        </ul>
    </div>

    <div id="attributeButtons">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">+</button>
        <button type="button" class="btn btn-default">-</button>
    </div>

</div>
